<ion-view view-title="Friends" ink-display-effect>
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right"  motion-slide-in-right>

                <a href="#/app/profile" class="item item-avatar item-icon-right" ng-repeat="friend in friends" >
                    <img ng-src="img/{{friend.img}}">

                    <h2>{{friend.name}}</h2>

                    <p>{{friend.biograpy}}</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
            </div>
        </div>


    </ion-content>
</ion-view>
